*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.mi_container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow: hidden;
}

.mi_tarjeta {
    display: grid;
    gap: 1em;
    padding: 0.5rem 0;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.mi_tarjeta{
    text-align: center;
}