body {

    box-sizing: border-box;
    margin: 0 auto;
    background-color:rgb(245, 247, 186);
    font-family: Arial, Helvetica, sans-serif;

}

.titulo {
font-family: 'Audiowide', cursive, sans-serif;
text-align: center;
color:blue;
font-size: 60px;

}



li {
    display: inline;
    padding: 10px;
    font-size: 20px;
   
}

.links {
    border: 2px solid pink;
    background-color: pink;
    padding-top: 1em;
    width: 95%;
    padding-bottom: 1em;
    margin: 15px; 

}

.destacado{
    border: 4px dashed orange;
    background-color: rgba(235, 218, 218, 0.774);
    width: 95%;
    margin-left: 1em;
    padding: 1em;
    font-size: 20px;

}

.centrado {
    text-align: center;        
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.caja{ 
    display: inline-block;
    width: 35%;
    text-align: left;
    border: 3px solid blue;
    padding: 15px;
    margin: 20px;
    color: green;
}

.titulocaja1{
font-size: 19px;
    text-decoration: underline;
    font-weight: bold;
}

.izquierda{        
    width: 15%;
    float: left;
    margin-right: 10px;

}

.derecha{
    width: 15%;
    float: right;
    margin-left: 10px;
}

.dentro1{
    color:rgb(1, 99, 1);
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 20%;
}

footer {
    position: fixed;
    bottom: 0;

}