.grid_container{
    display: grid;
    grid-template-areas: 'header header header header header header'
                        'nav_izq main main main main aside'
                        'nav_izq footer footer footer footer footer';
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cabecera {
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

.barra_lateral_izq{
    grid-area: nav_izq;
    background-color: #2196F3;
    color: white;
    text-align: center;
    padding: 1rem;
}

.main {
    grid-area: main;
    background-color: #f1f1f1;
    background-color: orange;
    color: white;
}