:root{
    --pading-container: 50px 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mi_contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--pading-container);
}
.mi_menu{
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
    --padding-container: 0;
}
.logo{
    flex: 0 1 auto;
    max-width: 90px;
    min-width: 60px;
    margin-left: 0;
}

.menu_nav{
    flex: 2 1 70%;
    display: flex;
    justify-content: space-evenly;
}

.menu_nav_a{
    text-decoration: none;
    color: white;
}

.menu_social{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
}

.menu_soial_a_imagen{
    width: 32px;
    min-width: 28%;
}

.mi_header{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
}

.mi_header::before {
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(0,0,0, 0.25) 0%,
        rgba(0,0,0,0.5) 100%
    ),
    url(./img/fondo_header.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
    z-index: -1;
}

.mi_nav a{
    text-decoration: none;
    color: white;
}

.header_container{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    max-width: 800px;
}

.header_title{
    font-size: 3rem;
    padding: 20px 0;

}

.header_paragrph{
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 30px;
}

.cta{
    display: inline-block;
    background-color: blue;
    align-self: center;
    color: white;
    padding: 13px 30px;
    border-radius: 32px;
}