.caja1 {
    margin:2%;
    background-color: #fef0a1;
    padding: 20px 10px;
    border: 10px solid #e7a219;
    width: 40%;
    height: auto;
    text-align: justify;
    float:left;
}

.caja2 {
    clear:both;
    margin:2%;
    background-color:#fef0a1;
    padding: 20px;
    border: 3px dashed #000;
    width: 40%;
    text-align: justify;
    box-shadow: 30px 20px 20px rgb(85, 85, 85);
    border-radius: 10px 50px;
}

.caja3{
    margin:2px;
    width:40%;
    text-align: justify;
    position: absolute;
    right:0;
    top:0;
    float:right;

}


p.bola{
    border:10px solid transparent;
    border-image-source: url(./img/bola-100.png);
}


p.pastilla{
    border: 25px solid transparent;
    border-image-source: url('./img/pastilla.png');
    border-image-slice: 25;
    border-image-repeat: stretch;
    padding: 20px;

}

p.ventana {
    border: 40px solid transparent;
    border-image-source: url('./img/ventana.png');
    border-image-slice: 50 80 20 80;
    border-image-width: 50px 80px 20px 80px;
    border-image-repeat: stretch;
    padding: 20px;
}

p.hormigas {
    border: 10px solid transparent;
    border-image-source: url('./img/hormigas.png');
    border-image-slice: 70;
    border-image-width: 2;
    border-image-repeat: stretch round;
    padding: 20px;
}
